PORT=5000
MONGO_URI= "mongodb://localhost:27017/"
EMAIL_USER= "teamhanubell@gmmail.com"
EMAIL_PASS=  "sgvr hken yntq arrr"
WHATSAPP_LINK= "https://chat.whatsapp.com/FtYWQsRkt2v5yBd6a5Oxw0"
ADMIN_PASS= "Hanusarthak"
